@model PatelMilkProducts.VIewModels.OverallDetails
@{
    ViewBag.Title = "Index";
    int total_right=0;
    double total_left = 0;
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css")
    
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")" type="text/javascript"></script>

</head>

<body>
    <div class="container">
        <div class="row">

            <table class="table">
                @foreach (var e in Model.Employees)
                {
                    <tr>
                        <Td>
                            <b>Employee Name - </b><h3>@e.Name</h3>
                        </Td>
                        <td>
                            <b>Father Name - </b> <h3>@e.FatherName </h3>
                        </td>
                        <td>
                            <b>Village - </b> <h3>@e.Village </h3>
                        </td>
                    </tr>

                }
            </table>



        </div>
        <div class="row">
            <div style="float:left;border-right:solid;border-color:blue;width:50%" id="Leftbox">
                <table class="table" id="LeftTable">
                    @foreach (var e in Model.MilkEntryUploads)
                    {
                        <tr>
                            <td>
                            <td style="border:dotted;border-bottom-color:darkblue;border-right-color:darkblue"><b>@e.Amount</b></td>

                            </td>
                            <td>
                                <div class="hidden"> @(total_left = total_left + e.Amount)</div>
                                @e.Amount Rupaiye  @e.TotalMilk Liter Dudh Dene Hetu-- <b>@e.SMonth-@e.SYear </b>
                            </td>

                        </tr>




                    }
                </table>

            </div>
            <div style="float:right;border-left:solid;border-color:blue;width:50%" id="Rightbox">
                <table class="table" id="rightTable">
                    @foreach (var e in Model.Khali)
                    {
                        <tr>
                            <td>
                            <td style="border:dotted;border-bottom-color:darkblue;border-right-color:darkblue"><b>@(e.Qty * e.Rate)</b></td>

                            </td>
                            <td>
                                @(e.Qty * e.Rate) Rupaiye  khali thela @e.Qty Tarikh <b>@e.GivenDate.ToString("dd-MM-yyyy")</b>
                                <div class="hidden"> @(total_right = total_right + e.Qty * e.Rate)</div>
                            </td>
                        </tr>

                    }
                </table>


            </div>
        </div>

        <div class="row">
            @foreach (var e in Model.EmpAccounts)
            {
                <div>
                    @if (e.TransactionType == "Debit")
                    {
                        <script>
                    $("#LeftTable").append('<tr><td><div class="hidden">@(total_left = total_left + e.Amount)</div></td><td style="border:dotted;border-bottom-color:darkblue;border-right-color:darkblue"><b>@e.Amount</b></td><td>@e.Amount Rupaiye Nagdi @e.Comments ke liye <b>@e.CurrDate.ToString("dd-MM-yyyy")</b></td></tr>');
                        </script>

                    }
                    else
                    {
                        <script>
            $("#rightTable").append('<tr><td><div class="hidden">@(total_right = total_right + e.Amount)</div></td><td style="border:dotted;border-bottom-color:darkblue;border-right-color:darkblue"><b>@e.Amount</b></td><td>@e.Amount Rupaiye Nagdi @e.Comments ke liye <b>@e.CurrDate.ToString("dd-MM-yyyy")</b></td></tr>');
                        </script>
                    }

                </div>

            }

        </div>
        <hr style="border:solid" />

        <div style="float:left"> &nbsp;&nbsp;&nbsp;<b>@total_left</b></div>
        <div style="float:right"> <b>&nbsp;&nbsp;&nbsp;&nbsp;@total_right</b></div>
    </div>   
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
