<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patel Milk</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-fixed-top" style="background-color:#30d1b6">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                 
                </button>

                <p class="nav navbar-brand" style="font-size:x-large;color:white"> <b>Patel Milk Products</b></p>
            </div>
                    
                <div class="btn-group btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">@Html.ActionLink("Home", "Index", "Home")</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">@Html.ActionLink("About", "About", "Home")</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">@Html.ActionLink("Contact", "Contact", "Home")</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">@Html.ActionLink("EMS", "Index", "Employees")</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">@Html.ActionLink("AMS", "Index", "EmpAccounts")</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">@Html.ActionLink("KMS", "Index", "Khalis")</button>
                    </div>
                </div>

            </div>
           
        
    </div>
    <div class="container body-content">
        
        @RenderBody()
        <hr />
        <footer>
            &copy; PateInc.
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
