@model PatelMilkProducts.Models.MilkEntryUpload

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <h4>MilkEntryUpload</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Employees.Village)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Employees.Village)
            </dd>
    
            
    
            <dt>
                @Html.DisplayNameFor(model => model._1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._3)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._3)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._4)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._4)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._5)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._5)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._6)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._6)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._7)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._7)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._8)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._8)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._9)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._9)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._10)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._10)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._11)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._11)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._12)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._12)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._13)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._13)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._14)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._14)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._15)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._15)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._16)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._16)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._17)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._17)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._18)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._18)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._19)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._19)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._20)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._20)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._21)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._21)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._22)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._22)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._23)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._23)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._24)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._24)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._25)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._25)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._26)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._26)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._27)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._27)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._28)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._28)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._29)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._29)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._30)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._30)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model._31)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model._31)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TotalMilk)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TotalMilk)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
